{% extends 'base.html' %}

{% block content %}
    <h2>Comment me trouver</h2>
    <article>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2844.913439722702!2d3.496478915899411!3d44.51692637910117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b36ddfb7eca209%3A0xf8969b65c06bb989!2s7+Rue+Chaptal%2C+48000+Mende!5e0!3m2!1sfr!2sfr!4v1549008051451"
                width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </article>
{% endblock %}

