{% extends 'base.html' %}

{% block content %}
    <h2>{{ content.seo_h1|safe }}</h2>
    <article>{{ content.main_content|safe }}</article>
{% endblock %}

{% block extra_content %}
    {{ content.extra_content|safe }}
{% endblock %}
