body {
  background-image: linear-gradient(to bottom,rgba(0,0,0,0) 0%,#fff 250%), url('/static/content/medias/bg_lozere.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  //background-attachment: fixed;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 1140px;
}

header {
  margin: .5rem 0;
  #brand {
    background-color: rgba(225,225,225,0.7);
    width: 100%;
    height: 250px;
  }
}


nav.navbar {
  background-color: #f8f9fa;
  margin: .5rem 0;

  .navbar-nav {
    .nav-link {
      color: rgba(0, 0, 0, .5);
      font-size: 1.125rem;
    }
    .nav-item + .nav-item {
      margin-left: 1rem;
    }
  }

  .navbar-toggler {
    color: rgba(0, 0, 0, .5);
    border-color: rgba(0, 0, 0, .1);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}

main {
  background-color: rgba(225,225,225,0.7);
  padding: 2rem;
  margin: .5rem 0;
}

footer {
  background-color: rgba(225,225,225,0.7);
  margin: .5rem 0;
}
