{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'content/css/main.css' %}">
    <title>{{ content.seo_title|default:'Caro PSY' }}</title>
</head>
<body>
    <header>
        <section id="brand" class="text-center d-flex">
            <article class="flex-column d-flex m-auto">
            <h1>Caroline Gaertner Conseils </h1>
            <p>Psychologue</p>
            </article>
        </section>
        {% include 'row/navbar.html' %}
    </header>
    <main class="d-flex flex-wrap">
        <article id="main-content" class="col-sm-12 col-md-8">
            {% block content %}
            {% endblock %}
            {% block extra_content %}
            {% endblock %}
        </article>
        <aside class="col-sm-12 col-md-4">
            {% include 'row/aside.html' %}
        </aside>
    </main>

    <footer class="d-flex col-12 py-3">
        {% include 'row/footer.html' %}
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>
