<section class="text-justify">
    <article class="mb-4">
        <h3>Qui suis-je ?</h3>
        <img src="https://via.placeholder.com/150" alt="photo">
    </article>
    <article class="my-4">
        <h3>Où suis-je ?</h3>
        <p>
            7 Rue Chaptal<br>
            48000 Mende
        </p>
    </article>
    <article class="my-4">
        <h3>Mais encore ?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur doloremque eaque esse fuga fugiat fugit harum labore minima minus natus, numquam officia omnis quas reprehenderit sapiente tempore velit voluptatum.</p>
    </article>
</section>
