<article class="col-sm-12 col-md-4">
    <h4>Mon logo trop cool</h4>
    <img src="https://via.placeholder.com/150" alt="photo">
</article>
<article class="col-sm-12 col-md-4">
    <h4>Pour plus de plaisir</h4>
    <ul class="list-unstyled">
        <li><a href="">Une liste de trucs chiants</a></li>
        <li><a href="">Trucs chiants</a></li>
        <li><a href="">Encore d 'auters</a></li>
    </ul>
</article>
<article class="col-sm-12 col-md-4">
    <h4>Et c'est pas fini</h4>
    <ul class="list-unstyled">
        <li>Une liste de trucs chiants</li>
        <li>Trucs chiants</li>
        <li>Encore d 'auters</li>
    </ul>
</article>
