<nav class="navbar navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="main-navbar" class="nav collapse navbar-collapse">
        <ul class="navbar-nav mt-2 mt-lg-0" role="navigation">
            {% for item in menu %}
                <li class="nav-item"><a href="{% url 'home' item.id %}" class="nav-link">{{ item.label|capfirst }}</a></li>
            {% endfor %}
            <li class="nav-item"><a href="{% url 'contact'%}" class="nav-link">Contact</a></li>
        </ul>
    </div>
</nav>
